# Clés API
MISTRAL_API_KEY=your_mistral_api_key_here

# Configuration de l'application
MODEL_ID=mistral-small-latest
EMBEDDING_MODEL=mistral-embed

# Chemins des fichiers
INPUT_DIR=inputs
OUTPUT_DIR=vector_db
FAISS_INDEX_FILE=vector_db/faiss_index.bin
DOCUMENT_CHUNKS_FILE=vector_db/document_chunks.pkl

# Configuration PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password_here
POSTGRES_DATABASE=nba_stats